In [3]:
import gzip 
import shutil 
import os 
import pandas as pd
from ast import literal_eval
import json
from datetime import datetime
from sqlalchemy import create_engine

In [29]:
#Convert files to json
with gzip.open('users.json.gz', 'rb') as f_in:
      with open('users.json.gz'.replace('.gz',''), 'wb') as f_out:
        shutil.copyfileobj(f_in, f_out)

In [9]:
#Read json files
def parse_to_df(json_file):
    with open(json_file) as f:
        data = [json.loads(line) for line in f]
        return pd.json_normalize(data)
    
    
receipts = parse_to_df('receipts.json')
brands = parse_to_df('brands.json')
users = parse_to_df('users 2.json')

In [13]:
receipts.head()

,bonusPointsEarned,bonusPointsEarnedReason,pointsEarned,purchasedItemCount,rewardsReceiptItemList,rewardsReceiptStatus,totalSpent,userId,_id.$oid,createDate.$date,dateScanned.$date,finishedDate.$date,modifyDate.$date,pointsAwardedDate.$date,purchaseDate.$date
0,500.0,"Receipt number 2 completed, bonus point schedu...",500.0,5.0,"[{'barcode': '4011', 'description': 'ITEM NOT ...",FINISHED,26.00,5ff1e1eacfcf6c399c274ae6,5ff1e1eb0a720f0523000575,1609687531000,1609687531000,1.609688e+12,1609687536000,1.609688e+12,1.609632e+12
1,150.0,"Receipt number 5 completed, bonus point schedu...",150.0,2.0,"[{'barcode': '4011', 'description': 'ITEM NOT ...",FINISHED,11.00,5ff1e194b6a9d73a3a9f1052,5ff1e1bb0a720f052300056b,1609687483000,1609687483000,1.609687e+12,1609687488000,1.609687e+12,1.609601e+12
2,5.0,All-receipts receipt bonus,5,1.0,"[{'needsFetchReview': False, 'partnerItemId': ...",REJECTED,10.00,5ff1e1f1cfcf6c399c274b0b,5ff1e1f10a720f052300057a,1609687537000,1609687537000,NaN,1609687542000,NaN,1.609632e+12
3,5.0,All-receipts receipt bonus,5.0,4.0,"[{'barcode': '4011', 'description': 'ITEM NOT ...",FINISHED,28.00,5ff1e1eacfcf6c399c274ae6,5ff1e1ee0a7214ada100056f,1609687534000,1609687534000,1.609688e+12,1609687539000,1.609688e+12,1.609632e+12
4,5.0,All-receipts receipt bonus,5.0,2.0,"[{'barcode': '4011', 'description': 'ITEM NOT ...",FINISHED,1.00,5ff1e194b6a9d73a3a9f1052,5ff1e1d20a7214ada1000561,1609687506000,1609687506000,1.609688e+12,1609687511000,1.609688e+12,1.609601e+12

# Incomplete Item List - Possible loss of partner information

In [45]:
receipts[(receipts['rewardsReceiptStatus'] == 'FINISHED') & (receipts['purchasedItemCount'] == 0.0)]

,_id,bonusPointsEarned,bonusPointsEarnedReason,createDate,dateScanned,finishedDate,modifyDate,pointsAwardedDate,pointsEarned,purchaseDate,purchasedItemCount,rewardsReceiptItemList,rewardsReceiptStatus,totalSpent,userId
396,{'$oid': '6009eb000a7214ada2000003'},250.0,"Receipt number 3 completed, bonus point schedu...",{'$date': 1611262720000},{'$date': 1611262720000},{'$date': 1611262746000},{'$date': 1611262755000},{'$date': 1611262746000},250.0,{'$date': 1611187200000},0.0,NaN,FINISHED,0.0,6009e60450b3311194385009
424,{'$oid': '600aff160a720f053500000c'},500.0,"Receipt number 2 completed, bonus point schedu...",{'$date': 1611333398000},{'$date': 1611333398000},{'$date': 1611333421000},{'$date': 1611333433000},{'$date': 1611333421000},500.0,{'$date': 1611273600000},0.0,NaN,FINISHED,0.0,600afb2a7d983a124e9aded0

The above two data points seem to be a data quality issue as although the points have been awarded to the user, there is no information about the items and their corresponding barcodes. If the receipts had any partner purchases, that information is lost as well and consequently so is the partner revenue.

In [60]:
receipts['rewardsReceiptStatus'].unique()

array(['FINISHED', 'REJECTED', 'FLAGGED', 'SUBMITTED', 'PENDING'],
      dtype=object)

In [15]:
brands.head()

,barcode,category,categoryCode,name,topBrand,_id.$oid,cpg.$id.$oid,cpg.$ref,brandCode
0,511111019862,Baking,BAKING,test brand @1612366101024,False,601ac115be37ce2ead437551,601ac114be37ce2ead437550,Cogs,NaN
1,511111519928,Beverages,BEVERAGES,Starbucks,False,601c5460be37ce2ead43755f,5332f5fbe4b03c9a25efd0ba,Cogs,STARBUCKS
2,511111819905,Baking,BAKING,test brand @1612366146176,False,601ac142be37ce2ead43755d,601ac142be37ce2ead437559,Cogs,TEST BRANDCODE @1612366146176
3,511111519874,Baking,BAKING,test brand @1612366146051,False,601ac142be37ce2ead43755a,601ac142be37ce2ead437559,Cogs,TEST BRANDCODE @1612366146051
4,511111319917,Candy & Sweets,CANDY_AND_SWEETS,test brand @1612366146827,False,601ac142be37ce2ead43755e,5332fa12e4b03c9a25efd1e7,Cogs,TEST BRANDCODE @1612366146827

# Duplicate user records

### About 50% records are duplicated in the users table, these records contribute to a data quality issue as not much insight can be derived from them

In [17]:
users.head()

,active,role,signUpSource,state,_id.$oid,createdDate.$date,lastLogin.$date
0,True,consumer,Email,WI,5ff1e194b6a9d73a3a9f1052,1609687444800,1.609688e+12
1,True,consumer,Email,WI,5ff1e194b6a9d73a3a9f1052,1609687444800,1.609688e+12
2,True,consumer,Email,WI,5ff1e194b6a9d73a3a9f1052,1609687444800,1.609688e+12
3,True,consumer,Email,WI,5ff1e1eacfcf6c399c274ae6,1609687530554,1.609688e+12
4,True,consumer,Email,WI,5ff1e194b6a9d73a3a9f1052,1609687444800,1.609688e+12

In [22]:
users.count()

active               495
role                 495
signUpSource         447
state                439
_id.$oid             495
createdDate.$date    495
lastLogin.$date      433
dtype: int64

In [20]:
users[users.duplicated()]

,active,role,signUpSource,state,_id.$oid,createdDate.$date,lastLogin.$date
1,True,consumer,Email,WI,5ff1e194b6a9d73a3a9f1052,1609687444800,1.609688e+12
2,True,consumer,Email,WI,5ff1e194b6a9d73a3a9f1052,1609687444800,1.609688e+12
4,True,consumer,Email,WI,5ff1e194b6a9d73a3a9f1052,1609687444800,1.609688e+12
5,True,consumer,Email,WI,5ff1e194b6a9d73a3a9f1052,1609687444800,1.609688e+12
8,True,consumer,Email,WI,5ff1e194b6a9d73a3a9f1052,1609687444800,1.609688e+12
...,...,...,...,...,...,...,...
490,True,fetch-staff,NaN,NaN,54943462e4b07e684157a532,1418998882381,1.614963e+12
491,True,fetch-staff,NaN,NaN,54943462e4b07e684157a532,1418998882381,1.614963e+12
492,True,fetch-staff,NaN,NaN,54943462e4b07e684157a532,1418998882381,1.614963e+12
493,True,fetch-staff,NaN,NaN,54943462e4b07e684157a532,1418998882381,1.614963e+12
494,True,fetch-staff,NaN,NaN,54943462e4b07e684157a532,1418998882381,1.614963e+12

# Barcode Duplication

In [30]:
brands['barcode'].count()

1167

In [32]:
brands['barcode'].nunique()

1160

In [34]:
brands[brands['barcode'].duplicated()]

,barcode,category,categoryCode,name,topBrand,_id.$oid,cpg.$id.$oid,cpg.$ref,brandCode
299,511111504139,Grocery,NaN,Pace,False,5a8c33f3e4b07f0a2dac8943,5a734034e4b0d58f376be874,Cogs,PACE
412,511111504788,Condiments & Sauces,NaN,The Pioneer Woman,NaN,5ccb2ece166eb31bbbadccbe,559c2234e4b06aca36af13c6,Cogs,PIONEER WOMAN
536,511111204923,Snacks,NaN,CHESTER'S,NaN,5d6027f46d5f3b23d1bc7906,5332f5fbe4b03c9a25efd0ba,Cogs,CHESTERS
651,511111305125,Magazines,NaN,Rachael Ray Everyday,NaN,5d642d65a3a018514994f42d,5d5d4fd16d5f3b23d1bc7905,Cogs,511111305125
1012,511111605058,Dairy,NaN,Brand2,True,5c4637ba87ff35681e840d57,5c45f8b087ff3552f950f026,Cogs,09090909090
1015,511111704140,NaN,NaN,Diet Chris Cola,NaN,5a7e0665e4b0aedb3b84afd4,55b62995e4b0d8e685c14213,Cogs,DIETCHRIS2
1071,511111004790,Condiments & Sauces,NaN,Bitten Dressing,NaN,5cdacd63166eb33eb7ce0fa8,559c2234e4b06aca36af13c6,Cogs,BITTEN

In [36]:
brands[brands['barcode'] == '511111004790']

,barcode,category,categoryCode,name,topBrand,_id.$oid,cpg.$id.$oid,cpg.$ref,brandCode
467,511111004790,Baking,NaN,alexa,True,5c409ab4cd244a3539b84162,55b62995e4b0d8e685c14213,Cogs,ALEXA
1071,511111004790,Condiments & Sauces,NaN,Bitten Dressing,NaN,5cdacd63166eb33eb7ce0fa8,559c2234e4b06aca36af13c6,Cogs,BITTEN

There are duplicate barcodes found in the brands dataframe which pose a data quality issue. (Assumption: that one barcode should universally map to only one item or product even though the partner ids are different)

# CategoryCode missing values

### About 50% of values in the categoryCode column is missing

In [66]:
brands['categoryCode'].isna().sum()

650

In [62]:
brands['categoryCode'].count()

517

In [68]:
brands['categoryCode']

0                 BAKING
1              BEVERAGES
2                 BAKING
3                 BAKING
4       CANDY_AND_SWEETS
              ...
1162              BAKING
1163                 NaN
1164    CANDY_AND_SWEETS
1165                 NaN
1166              BAKING
Name: categoryCode, Length: 1167, dtype: object

# BrandCode values

##### Values in brandcode aren't homogenous, a mix of numbers only and alphanumeric letters found

In [76]:
brands['brandCode'].unique()

array([nan, 'STARBUCKS', 'TEST BRANDCODE @1612366146176',
       'TEST BRANDCODE @1612366146051', 'TEST BRANDCODE @1612366146827',
       'TEST BRANDCODE @1612366146091', 'TEST BRANDCODE @1612366146133',
       'J.L. KRAFT', 'CAMPBELLS HOME STYLE', 'TEST',
       'TEST BRANDCODE @1598813526777', 'CALUMET', '511111205012',
       'AUNT JEMIMA SYRUP', 'MOLSON', 'LOTRIMIN',
       'TEST BRANDCODE @1597342520277', 'ST IVES', 'CHRISIMAGE',
       'ALKA SELTZER', "JACK DANIEL'S BARBECUE", 'MAGNUM Ice Cream',
       '511111105329', 'TEST BRANDCODE @1598635634882', 'TACO BELL',
       'FROSTED CHEERIOS', 'TEST BRANDCODE @1598639199674',
       'GODIVA DRY PACKAGED DESSERTS', 'LARABAR',
       'TEST BRANDCODE @1597350074333', 'TEST BRANDCODE @1607636368717',
       'TEST BRANDCODE @1607707830095', 'COTTONELLE', 'IZZE', 'MIO',
       '511111505365', 'QUILTING SPECIAL EDITION',
       'TEST BRANDCODE @1604437351617', 'HERMAN', 'KEVITA', 'DELIMEX',
       'THE RIGHT TO SHOWER', 'CARESS', 'TEST BRANDCODE @1595340086044',
       'TEST BRANDCODE @1597861700968', 'TEST BRAND CODE',
       'TEST BRANDCODE @1598026275245', 'SWANSON',
       'TEST BRANDCODE @1598026274668', 'DASH-2249 1', '511111805854',
       'KETTLE BRAND', 'CAMPBELLS SOUP AT HAND ', 'RAINBO', 'CRISPIN',
       'TEST BRANDCODE @1607707830137', 'CLARITIN®', 'COOKIE CRISP',
       'TEST BRANDCODE @1605535020442', 'TEST BRANDCODE @1604946244750',
       'SNYDERS OF HANOVER', 'GOOD SEASONS',
       'TEST BRANDCODE @1598633602279', 'REVOLVER', 'KEYSTONE LIGHT',
       'BETTY CROCKER FRUIT ROLL UPS', 'TEST BRANDCODE @1607639232356',
       'MOMOFUKU', 'POPSICLE', 'MUG Root Beer', 'TOMS',
       'TEST BRANDCODE @1606765579244', 'TEST BRANDCODE @1597342520305',
       'PROMISE', 'OFF THE EATEN PATH', 'TEST BRANDCODE @1600291350125',
       'TEST BRANDCODE @1603760319758', "NANCY'S",
       'CAMPBELLS CHUNKY MAXX', 'FOOD NETWORK KITCHEN INSPIRATIONS',
       'TEST BRANDCODE @1597935986390', 'TEST BRANDCODE @1598633693744',
       'SABRITAS', 'GEVALIA KAFFE', 'TEST BRANDCODE @1598290603501',
       "O THAT'S GOOD", "CHESTER'S", "MISS VICKIE'S", "SIR KENSINGTON'S",
       'DORITOS', 'A.1.', 'TEST BRANDCODE @1598290603587', 'LOOZA JUICES',
       'ALEVE', 'SOFT-SHEEN CARSON - HAIR COLOR',
       'TEST BRANDCODE @1604946245499', '',
       'TEST BRANDCODE @1598639199117', 'PULL UPS',
       'TEST BRANDCODE @1605535020629', 'BRISK', 'CHRISXYZ', "BULL'S-EYE",
       'KLONDIKE', 'FRUTTARE', '511111305569', 'KNOX', '511111505716',
       'PLANTERS', 'DEGREE', "CALEB'S KOLA", 'LEMON LEMON', 'VASELINE',
       '511111005216', 'TEST BRANDCODE @1607312532178', 'PINESOL',
       'TEST BRANDCODE @1595340086791', '511111005148', 'ESSIE',
       '0987654321', 'CAMPBELLS WELL YES',
       'TEST BRANDCODE @1607312532304', 'TEST BRANDCODE @1598026274643',
       'TEST BRANDCODE @1601644881995', 'BEEF STEAK', "POND'S",
       'L’OREAL PARIS - COSMETICS', '511111605829',
       'TEST BRANDCODE @1595340086078', 'TEST BRANDCODE @1602694020787',
       'TEST BRANDCODE @1601939013649', 'SNACK FACTORY', 'MILLER64',
       "I CAN'T BELIEVE IT'S NOT BUTTER!", '511111805786',
       'TEST BRANDCODE @1610496647142', 'TEST BRANDCODE @1610496646289',
       'TEST BRANDCODE @1610496646345', 'TEST BRANDCODE @1610496646232',
       'TEST BRANDCODE @1610495466218', 'TEST BRANDCODE @1610495102462',
       'TEST BRANDCODE @1610495466250', 'KRAFT MIRACLE WHIP',
       'TEST BRANDCODE @1598042674173', 'TEST BRANDCODE @1598635634796',
       'SHEAF STOUT', 'CHEETOS', 'NATURES HARVEST', '511111605058',
       'TEST BRANDCODE @1598639198570', 'TEST BRANDCODE @1599097538609',
       'SCOTT', 'TEST BRANDCODE @1607639231674', 'EPIC', 'GROLSCH',
       'TEST BRANDCODE @1603760320407', 'MAGNUM',
       'TEST BRANDCODE @1603925787411', 'TEST BRANDCODE @1610495466861',
       'TEST BRANDCODE @1610495102526', 'TEST BRANDCODE @1610495102491',
       'TEST BRANDCODE @1610495466175', 'TEST BRANDCODE @1610495103255',
       'TEST BRANDCODE @1610495466285', 'TEST BRANDCODE @1610049748118',
       'TEST BRANDCODE @1610049748181', 'TEST BRANDCODE @1610049748154',
       'TEST BRANDCODE @1610049748724', 'TEST BRANDCODE @1610053719707',
       'TEST BRANDCODE @1607987891932', 'TEST BRANDCODE @1607987891893',
       'TEST BRANDCODE @1607987891852', 'TEST BRANDCODE @1607987892541',
       'TEST BRANDCODE @1607707829962', "KILLIAN'S",
       'TEST BRANDCODE @1597861700880', "KRAFT SHAKE 'N BAKE", 'HP',
       'DRUMSTICK CEREAL', 'ALEVE D SINUS & COLD', 'CHEEZ WHIZ',
       'TEST BRANDCODE @1607463685522', 'COOL WHIP', 'TRIX',
       'FLINTSTONES', 'ABSOLUT® GRAPEFRUIT', 'ALTOS', 'DEL MAGUEY ',
       'JAMESON® BLACK BARREL ', 'JAMESON', 'MONKEY 47', 'MALIBU',
       'LILLET', '511111705161', 'AMP2', 'TEST BRANDCODE @1597861700940',
       'TEST BRANDCODE @1604437351567', 'KELSEN', '511111405818',
       'ALEVE DIRECT THERAPY PAIN RELIEF DEVICES', 'COLORADO NATIVE',
       'SOBE', 'KNUDSEN', '511111105763', '511111005421', "CAP'N CRUNCH",
       "MRS BAIRD'S", 'TRESEMME', 'PURE LEAF Iced Tea Beverages',
       'ONE A DAY KIDS', 'TEST BRANDCODE @1599159968998', 'LIFEWTR',
       '511111804994', 'SIMILAC', 'CORICIDIN HBP',
       'TEST BRANDCODE @1601939016290', 'BADEDAS',
       'TEST BRANDCODE @1604946244876', 'BENIHANA', 'MOUNTAIN HIGH',
       'TOSTITOS', 'TEST BRANDCODE @1603760319788', 'GERBER BABY FOOD',
       'PACE', 'CAMPBELLS SLOW KETTLE ', 'ARCHWAY', 'BAYER® ASPIRIN',
       'TEST BRANDCODE @1610055793449', 'TEST BRANDCODE @1610055793411',
       'TEST BRANDCODE @1610055793500', 'TEST BRANDCODE @1610055794196',
       'TEST BRANDCODE @1610055793537', 'TEST BRANDCODE @1610058181549',
       'TEST BRANDCODE @1610053719944', 'TEST BRANDCODE @1610053719998',
       'TEST BRANDCODE @1610053719869', 'TEST BRANDCODE @1610053721033',
       'DEPEND', 'TEST BRANDCODE @1608313322283',
       'TEST BRANDCODE @1608313321374', 'TEST BRANDCODE @1608313321191',
       'TEST BRANDCODE @1608313321301', 'TEST BRANDCODE @1608313321222',
       'NATURE VALLEY', 'TEST BRANDCODE @1598633693767',
       'TEST BRANDCODE @1598633693791', 'ANZIO', '511111705000',
       "HERSHEY'S WHIPPED TOPPING", 'TEST BRANDCODE @1598633693720',
       'TEST BRANDCODE @1605535020671', 'IMPERIAL', 'ALEVE PM NIGHT TIME',
       'TEST BRANDCODE @1603925787294', 'APOTHECARE ESSENTIALS',
       "HENRY WEINHARD'S", 'CAMPBELLS CHUNKY ', 'ONE A DAY® WOMENS',
       'TEST BRANDCODE @1595340085980', 'KINGSFORD', 'YOPLAIT GO-GURT',
       'FRITO-LAY', 'GREY POUPON', 'TEST BRANDCODE @1598296704763',
       'BERROCA®', 'PROPEL', "MILWAUKEE'S BEST", 'SPITZ', 'IMAGINE',
       'TEST BRANDCODE @1597342520969', 'TUSK & GRAIN', "REDD'S ALE",
       'LANCE', 'PACIFIC FOODS', 'YOPLAIT DUNKERS',
       'TEST BRANDCODE @1598554813705', 'LIPTON Soup', 'MINIONS CEREAL',
       'LOVE HOME AND PLANET', 'TEST BRANDCODE @1595968943012',
       'ONETOUCH', 'TEST BRANDCODE @1597935986248', 'KRAFT', 'BASIC 4',
       'WOLFGANG PUCK', 'TEST BRANDCODE @1601659120828',
       'TEST BRANDCODE @1603925787441', 'THE SOULFUL PROJECT',
       'TEST BRANDCODE @1598633602924', 'DREAM WHIP',
       'TEST BRANDCODE @1597527951461', 'TEST BRANDCODE @1607639231623',
       'KJELDSEN', 'TEST BRANDCODE @1598635435896',
       'TEST BRANDCODE @1599849713773', 'TEST BRANDCODE @1607636369405',
       'TEST BRANDCODE @1601644363827', 'PEPPERIDGE FARM',
       'TEST BRANDCODE @1611088503689', 'TEST BRANDCODE @1605535020580',
       'MILLER HIGH LIFE', 'QUAKER', '511111705727', 'ATHENOS',
       'TEST BRANDCODE @1599159969028', 'TEST BRANDCODE @1597350074404',
       'SEDAL', 'RED ROCK DELI', 'ALKA SELTZER PLUS SINUS CAP/ GEL/ TAB',
       'TEST BRANDCODE @1598633602253', 'SMARTFOOD',
       'TEST BRANDCODE @1598042673532', 'TEST BRANDCODE @1601939762881',
       'OSCAR MAYER', 'LECH PREMIUM', '511111805137', 'HEINERS',
       'PARENTS', 'PIONEER WOMAN', 'TEST BRANDCODE @1611088504474',
       '511111605102', 'HOP VALLEY', 'TEST BRANDCODE @1597861700914',
       'YUBAN', '511111105114', 'TEST BRANDCODE @1603760319682',
       'TEST BRANDCODE @1598716509394', 'TIGI', "AUTUMN'S GOLD",
       'BROOKE BOND', '511111105046', 'TEST BRANDCODE @1595968943049',
       'AMPTEST', 'COORS', 'BOLT 24', 'MIST TWST',
       'TEST BRANDCODE @1608136484526', 'TEST BRANDCODE @1608136485398',
       'TEST BRANDCODE @1608136484574', 'SARGENTO',
       'TEST BRANDCODE @1608136484633', 'TEST BRANDCODE @1608136484689',
       'TEST BRANDCODE @1610038521565', 'TEST BRANDCODE @1610038521677',
       'TEST BRANDCODE @1610038521624', 'TEST BRANDCODE @1610038522559',
       'TEST BRANDCODE @1610040576117', 'TEST BRANDCODE @1610040576672',
       'TEST BRANDCODE @1610040576088', 'TEST BRANDCODE @1610040576148',
       'TEST BRANDCODE @1610040576053', 'ALKA SELTZER PLUS',
       'TEST BRANDCODE @1610653897113', 'TEST BRANDCODE @1610653894519',
       'TEST BRANDCODE @1610660035659', 'TEST BRANDCODE @1610653894662',
       'TEST BRANDCODE @1610653894371', 'TEST BRANDCODE @1601659122798',
       'COCOA PUFFS', 'TEST BRANDCODE @1601659120793', 'JAYS', 'KNORR',
       'CRISTAL', 'TEST BRANDCODE @1607312532874', 'BOCA', 'ALEXA', 'KIX',
       'TEST BRANDCODE @1595531348246', "GRANDMA'S",
       'TEST BRANDCODE @1602694015178', "SHARP'S NEAR BEER", 'BAILEYS',
       'FINISH', 'TEST BRANDCODE @1598639197926',
       'TEST BRANDCODE @1602694015743', 'JELL-O',
       'TEST BRANDCODE @1601644364536', 'TEST BRANDCODE @1603925787997',
       'GOLDFISH', 'TEST BRANDCODE @1598633602304',
       'TEST BRANDCODE @1601659120694', 'CAPE LINE',
       'TEST BRANDCODE @1597935987233', 'NEAR EAST', '511111505150',
       'CLOROX', 'MAY-BUD', 'TEST BRANDCODE @1599849713798', 'GATORADE',
       'TEST BRANDCODE @1597342520132', 'GARDEN FRESH GOURMET',
       'AUNT JEMIMA DRY BREAKFAST MIXES', 'OLDE ENGLISH',
       'TEST BRANDCODE @1600291349255', 'MATADOR', '511111305286',
       "REESE'S PUFFS", 'GOLDEN GRAHAMS', 'TEST BRANDCODE @1598026274692',
       '511111805342', 'TEST BRANDCODE @1598554813744', 'RICE-A-RONI',
       'STELLA DORO', 'TEST BRANDCODE @1598813526686',
       'TEST BRANDCODE @1604437351678', 'CAMPBELLS READY MEALS',
       'RESOLVE', 'MAUI STYLE', 'CULTURE REPUBLICK ', 'WHEATIES',
       'TEST BRANDCODE @1601644882062', 'TEST BRANDCODE @1601939013444',
       '511111805571', 'TEST BRANDCODE @1598635634821',
       'TEST BRANDCODE @1607707830844', 'ZIMA',
       'TEST BRANDCODE @1598026274609', 'CHESTERS',
       'TEST BRANDCODE @1601644363784', 'CAPE COD',
       'COUNTRY CROCK PLANT BUTTER', '511111205388',
       'CHOCOLATE LUCKY CHARMS', 'TEST BRANDCODE @1598554813535',
       'TEST BRANDCODE @1610493496975', 'TEST BRANDCODE @1610495102411',
       'TEST BRANDCODE @1610494831056', 'TEST BRANDCODE @1610494831082',
       'TEST BRANDCODE @1610494831023', 'TEST BRANDCODE @1610493497005',
       'TEST BRANDCODE @1610493497517', 'TEST BRANDCODE @1610493497034',
       'TEST BRANDCODE @1610494830985', 'TEST BRANDCODE @1610494831583',
       'TEST BRANDCODE @1608313051339', 'TEST BRANDCODE @1608313051291',
       'TEST BRANDCODE @1608313052049', 'TEST BRANDCODE @1608313051133',
       'TEST BRANDCODE @1608313051244', 'BALL PARK',
       'TEST BRANDCODE @1598290603618', 'HIDDEL BARREL COLLECTION',
       'LAUNCH BOX', 'SIMPLE', 'SALON SELECTIVES', 'CRACKER BARREL',
       'HUGGIES LITTLE SWIMMERS', 'TEST BRANDCODE @1598042673502',
       'TEST BRANDCODE @1607707830173', 'SHREDS', 'BAKEN ETS',
       'HONEY NUT CHEERIOS', 'DASH-2249 1 BRAND 1', 'CRACKER JACK',
       'GERBER GOOD START', 'TEST BRANDCODE @1598554813654',
       'TEST BRANDCODE @1598635436505', 'TEST BRANDCODE @1597527951436',
       'BETTER HOMES & GARDENS', 'BIMBO', "LEINENKUGEL'S", 'NESTLE NAN',
       'TEST BRANDCODE @1598042673466', 'JET-PUFFED',
       'TEST BRANDCODE @1601644882548', 'HEALTH',
       'TEST BRANDCODE @1601644882019', 'TEST BRANDCODE @1601644363876',
       '511111705444', 'MUNCHIES', '511111605775',
       'TEST BRANDCODE @1607463684816', 'TEST BRANDCODE @1598633694347',
       'TEST BRANDCODE @1598296704639', "ANNIE'S",
       'TEST BRANDCODE @1598881562991', 'TEST BRANDCODE @1598813526656',
       'MIDOL', 'TWISTED RANCH', 'EMERALD',
       'TEST BRANDCODE @1598881562500', 'TEST BRANDCODE @1598711015538',
       'HERSHEYS HOT COCOA', 'PG TIPS', 'MUNCHOS', 'LUNCHABLES',
       'WOOLITE', '511111104971', 'HUGGIES',
       'TEST BRANDCODE @1598711015353', 'TEST BRANDCODE @1605535021531',
       'BISCA', 'TEST BRANDCODE @1598881563900',
       'TEST BRANDCODE @1601939762909', 'PERONI',
       'TEST BRANDCODE @1598554814581', 'TEST BRANDCODE @1607463684722',
       'BETTY CROCKER GUSHERS', 'TEST BRANDCODE @1597861701615',
       'LUCKY CHARMS', 'BACK TO NATURE DINNERS',
       'TEST BRANDCODE @1597350074366', 'TEST BRANDCODE @1606765578747',
       '511111305125', 'GRANDMA SYCAMORE', 'MERMAID CEREAL',
       'TEST BRANDCODE @1597350074237', 'AQUAFINA', ' SOBE',
       '511111905240', 'TEST BRANDCODE @1599849713825',
       'CAMPBELLS DINNER SAUCES ', 'WILD STYLE', 'DOVE BODY',
       'TEST BRANDCODE @1601939012950', 'TEST BRANDCODE @1597342520238',
       'WEIGHT WATCHERS SMART ONES', 'ALEVE LIQUID GELS', 'SANTITAS',
       'FRUIT LOVE', 'TROPICANA', 'RAISIN NUT BRAN', '511111405696',
       'VELVEETA', 'GOOD HUMOR', 'JUST CRACK AN EGG',
       'TEST BRANDCODE @1604946244789', '511111305071',
       'TEST BRANDCODE @1598813526618', 'PEPSI', "MOTT'S", 'RIBERHUS',
       "HERSHEY'S PUDDING", 'TEST BRANDCODE @1599097538395',
       'TEST BRANDCODE @1607636368260', 'GO & GROW',
       'TEST BRANDCODE @1595968943087', 'COUNTRY CROCK', "STACY'S",
       "MR. YOSHIDA'S", 'TEST BRANDCODE @1604437352151',
       'TEST BRANDCODE @1595531348410', 'TEST BRANDCODE @1598296705444',
       'LEA & PERRINS', 'HEINZ', 'SARA LEE ',
       'TEST BRANDCODE @1602694015481', 'OVEN FRY',
       'TEST BRANDCODE @1598716510157', 'TWO HATS',
       'STARBUCKS Bottled Drinks', 'FRITOS', 'PASTA RONI', 'BRAND CODE',
       'ALLRECIPES', 'V8 V FUSION ', 'TEST BRANDCODE @1599097538537',
       'H20H', 'MILLER GENUINE DRAFT', 'TEST BRANDCODE @1603760319814',
       'AMAZING GRAINS', 'TEST BRANDCODE @1595531348374',
       'CHOCOLATE CHEERIOS', 'ONE', 'KEYSTONE ICE', 'DIGIORNO CHEESE',
       'CALEBS KOLA', 'TEST BRANDCODE @1611088503776', 'PILSNER URQUELL',
       'TEST BRANDCODE @1597935986474', ' MILANO', 'GENERAL MILLS CEREAL',
       'TEST BRANDCODE @1598635635448', 'CLEAR',
       'ARNOLD PALMER SPIKED HALF & HALF ORIGINAL', 'ABSOLUT® LIME',
       'ABSOLUT® JUICE STRAWBERRY', 'ABSOLUT® ORIGINAL',
       'ABSOLUT® MANDRIN', 'ABSOLUT ELYX', 'ABSOLUT® JUICE APPLE',
       'ABERLOUR', 'JAMESON COLD BREW ', 'JEFFERSON’S RESERVE',
       'CAMPO VIEJO', 'KAHLUA', 'MUMM NAPA ', 'MALFY', 'MALIBU® LIME',
       'MALIBU® STRAWBERRY', 'REDBREAST 12YO ',
       'TEST BRANDCODE @1597527951412', 'SOL',
       'TEST BRANDCODE @1599159969725', "WYLER'S",
       'TEST BRANDCODE @1601939762943', 'FAT RABBIT', 'TOTAL',
       'TEST BRANDCODE @1598635435829', 'TEST BRANDCODE @1607708191093',
       'MALIBU® PINEAPPLE', 'PURE BLISS', 'ROYAL DANSK',
       'TEST BRANDCODE @1598711015578', 'DEVOUR', 'CAMPBELLS',
       'TEST BRANDCODE @1595340086011', 'STUBBORN SODA', 'AVION',
       'TEST BRANDCODE @1610039590413', 'TEST BRANDCODE @1610039590349',
       'TEST BRANDCODE @1610039590443', 'TEST BRANDCODE @1610039590383',
       'TEST BRANDCODE @1610039590990', 'TEST BRANDCODE @1610495622485',
       'TEST BRANDCODE @1610496646104', 'TEST BRANDCODE @1610495622510',
       'TEST BRANDCODE @1610495623019', 'TEST BRANDCODE @1610495622536',
       'TEST BRANDCODE @1610495622560', 'ONE A DAY', '511111705239',
       'COUNTRY CROCK ORIGINAL', "HELLMANN'S/BEST FOODS",
       'TEST BRANDCODE @1597527951382', 'TEST BRANDCODE @1601644882040',
       'TEST BRANDCODE @1597527952048', 'TEST BRANDCODE @1595968943787',
       'TALENTI', 'TEST BRANDCODE @1598635634767', '511111305842',
       'RED DOG', 'SMITH & FORGE', 'LIPTON Iced Tea Beverages', 'RUFFLES',
       'V8 PLUS ENERGY ', 'POP SECRET', 'TEST BRANDCODE @1601939763539',
       'CAPRI SUN', 'NUT HARVEST', 'TEST BRANDCODE @1598881563437',
       'TEST BRANDCODE @1600291349208', 'HENRY WEINHARDS',
       'TEST BRANDCODE @1599097539367', '511111905035', 'FRUITY CHEERIOS',
       'FLINTSTONES MULTIVITAMIN GUMMY', "FOSTER'S",
       'F WHITLOCK AND SONS', 'TEST BRANDCODE @1610046687007',
       'TEST BRANDCODE @1610046687035', 'TEST BRANDCODE @1610046686980',
       'TEST BRANDCODE @1599097538572', "I CAN'T BELIEVE IT'S NOT BUTTER",
       'TEST BRANDCODE @1607463684777', 'BAKEN-ETS', 'LIBERTE',
       'APPLE CINNAMON CHEERIOS', 'ST STEFANUS',
       'DOLE CHILLED FRUIT JUICES', 'SUAVE', 'CLASSICO', 'STROEHMANN',
       'BUBLY', '1915 BOLTHOUSE FARMS', 'TEST BRANDCODE @1610046687624',
       'TEST BRANDCODE @1610046686954', 'TEST BRANDCODE @1610049748079',
       'MIRALAX LAXATIVES', 'TEST BRANDCODE @1607708191128',
       'TEST BRANDCODE @1607708191160', 'TEST BRANDCODE @1607708191197',
       'TEST BRANDCODE @1607708191721', 'TEST BRANDCODE @1610562208718',
       'TEST BRANDCODE @1610653894219', 'TEST BRANDCODE @1610562208600',
       'TEST BRANDCODE @1610562208645', 'TEST BRANDCODE @1610562209325',
       'TEST BRANDCODE @1610562208680', 'TEST BRANDCODE @1610660035827',
       'TEST BRANDCODE @1610660035788', 'TEST BRANDCODE @1610660036398',
       'TEST BRANDCODE @1610718082494', "T.G.I. FRIDAY'S", 'CUSQUENA',
       'ARNOLD', 'MC CAFE', 'O-KE-DOKE', 'TEST BRANDCODE @1607312532260',
       'ALKA SELTZER ADULT HEARTBURN CHEWS/ GUMMY/ TAB',
       'TEST BRANDCODE @1595531348450', 'TEST BRANDCODE @1598635435926',
       'TEST BRANDCODE @1607636368136', 'OATMEAL CRISP',
       'TEST BRANDCODE @1609794603283', "PHILLIPS'®DIGESTIVE",
       'TEST BRANDCODE @1610660035741', 'TEST BRANDCODE @1609794603237',
       'TEST BRANDCODE @1609794603367', 'TEST BRANDCODE @1609794603327',
       'TEST BRANDCODE @1609794603942', 'TEST BRANDCODE @1610038521409',
       'TEST BRANDCODE @1610718082601', 'TEST BRANDCODE @1610718083279',
       'TEST BRANDCODE @1610718082685', 'TEST BRANDCODE @1610718082644',
       'TEST BRANDCODE @1610135036684', 'TEST BRANDCODE @1610493496943',
       'TEST BRANDCODE @1610493089082', 'TEST BRANDCODE @1610135035614',
       'TEST BRANDCODE @1610135035679', 'TEST BRANDCODE @1610135035546',
       'TEST BRANDCODE @1610493088287', 'TEST BRANDCODE @1610493088459',
       'TEST BRANDCODE @1610493088421', 'TEST BRANDCODE @1610493088494',
       'TEST BRANDCODE @1610058181760', 'TEST BRANDCODE @1610135035332',
       'TEST BRANDCODE @1610058182453', 'TEST BRANDCODE @1610058181682',
       'TEST BRANDCODE @1610058181719', 'HERSHEYS CEREAL',
       'TEST BRANDCODE @1598296704728', 'AMP', '511111905318', 'AXE',
       'TEST BRANDCODE @1598635435855', 'TEST BRANDCODE @1606765582946',
       "ALEXA-O'S", '511111005704', '511111805069', 'STEEL RESERVE',
       'POP WORKS & COMPANY', 'SABRITONES', '511111205456', 'SURE-JELL',
       'TERRAPIN', 'SMART MADE', '511111405023', 'LOVE BEAUTY AND PLANET',
       'PROTEIN ONE', '511111605492', 'TEST BRANDCODE @1603925787381',
       'KOOL-AID', 'TEST BRANDCODE @1601939013241', 'ABSOLUT® CITRON',
       'AVION R44', 'TEST BRANDCODE @1607639231710', 'MILLER FORTUNE',
       'LEVER 2000', 'A+D', 'PULLUPS', 'TEST BRANDCODE @1606765578435',
       'MOUNTAIN DEW', 'SUN CHIPS', 'TEST BRANDCODE @1598813527796',
       'PURE LEAF Tea Leaves', 'CORN NUTS', "BREAKSTONE'S", 'SPARKS',
       'TEST BRANDCODE @1598716509358', 'MAXWELL HOUSE',
       'TEST BRANDCODE @1599849714378', 'TEST BRANDCODE @1598711015496',
       'CONTINENTAL SOUP', 'GARNIER - HAIR COLOR', 'AFRIN® NASAL SPRAY',
       'GOODBELLY', 'NEXXUS', 'V8', "COLMAN'S", 'PREGO',
       'TEST BRANDCODE @1606765578985', 'BRUMMEL & BROWN', 'YQ YOPLAIT',
       '511111805298', 'TEST BRANDCODE @1604946244833',
       'ALKA SELTZER COLD AND FLU TAB/ CAPS/ GEL',